%h1 PIE
- load Rbbt.lib['pcawg.rb'].find


- abbs = PCAWG.all_abbreviations
- abb_specimens = {}
- TSV.traverse PCAWG.specimen_histology, :fields => ["histology_abbreviation"], :type => :single do |specimen,abb|
  - abb = 'unknown' if abb.nil? or abb.empty?
  - abb_specimens[abb] ||= []
  - abb_specimens[abb] << specimen

- abb_donors = TSV.setup({}, :key_field => "histology_abbreviation", :fields => ["y", "color", 'url'], :type => :list)
- abb_specimens.sort_by{|p| p.first}.each do |abb,specimens|
  - donors = specimens.collect{|s| PCAWG.specimen_donor(s)}.uniq
  - color = PCAWG.abb_color(abb)
  - abb_donors[abb] = [donors.length, color,"/main/study?study=#{abb}"]

= tool :nvd3, :plot => :pie, :data => abb_donors, :height => '1500px', :width => '1000px'
